doctype html
html
  head
    title Bank of Future
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  body
    nav.navigation-bar
      h1.header1 Bank of Future
    hr.new4
    #container
      #left
        .verticalmenu
          a.active(onclick='home()', href='/user') Home
          a(onclick='findBranches()', href='/findbranches') Find Branches
          a(href='#') About
          a(href='#') Contact Us
        .logoutbtn
          a(href='/') Log Out
      #middle
        #centerpart
          p.centerp Add Middle content here
      #right
        .rightbar
          // <p class="rightp">Add Description here</p>
          h2 Description
          hr.new4
          p.rightp This is the edit screen
